.movieComponent {
    height: 100vh;
    background: radial-gradient(
        circle at bottom,
        #670df7af 2%,
        #0d6dfd85 14%,
        #fff 65%
    );
    backdrop-filter: blur(80px);
    --webkit-backdrop-filter: blur(80px);
}