.movieComponent {
    background: var(--dt-bg-primary);
    color: var(--dt-text-light);
    overflow: hidden;
}

.nav-tabs .nav-link.active {
    background: var(--dt-bg-primary);
    color: var(--dt-violet-bg);
}