.popularMoviesContainer {
    background-color: var(--dt-bg-primary);
    color: var(--dt-text-light);
}

/* .popularMoviesContainer {
  padding-top: 4rem;
}
@media (max-width: 576px) {
  .popularMoviesContainer {
    padding-top: 0.5rem;
  }
} */