.popularMoviesContainer {
    background: radial-gradient(
        circle at left,
        #670df762 7%,
        #0d6dfd5d 14%,
        #fff 65%
    );
    backdrop-filter: blur(80px);
    --webkit-backdrop-filter: blur(80px);
}

.popularMoviesContainer {
  padding-top: 4rem;
}
@media (max-width: 576px) {
  .popularMoviesContainer {
    padding-top: 0.5rem;
  }
}