:root {
    --dt-violet: #9461fb;
    --dt-violet-bg: #712cf9;
    --dt-indigo: #6610F2;
    --dt-blue: #0D6EFD;
    --dt-blue-bg: #084298;
    --dt-text-light: #fff;
    --dt-callout-code-color: #e685b5;
    --dt-bg-primary: #212529;
    --dt-bg-secondary: #0f1113;
}


.home-btn {
    color: var(--dt-text-light);
    background-color: var(--dt-indigo);
}

.btn {
    color: var(--dt-text-light);
    background-color: var(--dt-indigo);
    border: none;
} 

.intro-text {
    text-align: justify;
}


.PopularMovies-Container {
    background: radial-gradient(
        circle at left,
        #670df762 7%,
        #0d6dfd5d 14%,
        #fff 65%
    );
    backdrop-filter: blur(80px);
    --webkit-backdrop-filter: blur(80px);
}

.movie-card {
    background: #ffffff60;
    padding: 2rem;
    border-radius: 10px;
    backdrop-filter: blur(80px);
    --webkit-backdrop-filter: blur(80px);
}

.genres {
    background-color: var(--dt-violet-bg);
    font-size: 16px;
}

.LoginContainer {
    height: 100vh;
    background: radial-gradient(
        circle at right,
        #670df762 7%,
        #0d6dfd5d 14%,
        #fff 65%
    );
    backdrop-filter: blur(80px);
    --webkit-backdrop-filter: blur(80px);
}

.RegisterContainer {
    height: 100vh;
    background: radial-gradient(
        circle at right,
        #670df762 7%,
        #0d6dfd5d 14%,
        #fff 65%
    );
    backdrop-filter: blur(80px);
    --webkit-backdrop-filter: blur(80px);
}

.formImage {
    max-width: 90%;
    height: auto;
}

.imputContainer {
    max-width: 50%;
    height: auto;
}

.form-redirect {
    text-decoration: none;
    color: var(--dt-indigo);
}

.form-button {
    width: 35%;
}

.form-button:hover {
    transform: 0.5;
    scale: 1.1;
}

.navbar {
    width: 100%;
    position: fixed;
    z-index: 1000;
    color: var(--dt-text-light);
}

#logo {
    color: var(--dt-indigo);
}

.navbar-nav .nav-link.active {
    color: var(--dt-text-light);
}

#searchField {
    background-color: #21252936 !important;
}